/* Variables */
:root{
    --letra: #fff;
}
/* Fuentes */
@font-face {
    font-family: 'Liberation serif';
    src: url('../FUENTES/LiberationSerif-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('../FUENTES/Times New Roman.ttf');
    font-style: normal;
    font-weight: 400;
}
/* Estilos */
body{
    margin: 0;
    color: var(--letra);
    font-family: 'Times New Roman';
    background-color: #383836;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
header{
    display: flex;
    background-color: rgb(69, 67, 62);
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}
.logo{
    width: 90px;
    margin-top: 5px;
    margin-left: 10px;
}
nav .boton{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    color: var(--letra);
    background: rgb(191, 149, 14);
    border-radius: 50px;
    border: 2px solid transparent;
    transition: all 30ms ease;
    letter-spacing: 0px;
    margin: 10px;
}
nav .boton:hover{
    font-size: 22px;
    border: 2px solid var(--letra);
}
#botonArriba{
    position: fixed;
    bottom: -100px;
    right: 50%;
    width: 50px;
    transition: all 1s;
}